# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog
.histor
.svn
migrate_working_dir
.env*
!.env.example

# IntelliJ related
*.iml
*.ipr
*.iws
.idea

# Flutter/Dart/Pub related
.dart_tool/
.packages
build

# Melos
pubspec_overrides.yaml
