<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707495094215-jjan83r1hmi5o4blt999ievoagk0rj2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707495094215-jjan83r1hmi5o4blt999ievoagk0rj2m</string>
	<key>API_KEY</key>
	<string>AIzaSyAlU4kwTqhosLRcThyWAIVRYLF2aO-1mIw</string>
	<key>GCM_SENDER_ID</key>
	<string>707495094215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ricardodalarme.flutterBlocStarter</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-starter-f9a94</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-starter-f9a94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707495094215:ios:e322ad9b70aaccfb2f1be2</string>
</dict>
</plist>